* {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.flex-nav {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	align-items: center;
	height: 66px;
}
.nav-icon {
	font-size: 24px;
}

.home {
	background: url("/page-images/images/mainBcg.jpeg") center/cover no-repeat;
	min-height: calc(100vh - 66px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.contact {
	background: url("/page-images/images/contactBcg.jpeg") center/cover no-repeat;
	min-height: calc(80vh - 66px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.home-title {
	font-size: 4rem;
	color: whitesmoke;
	text-shadow: 2px 2px black;
	padding-bottom: 2rem;
}

.btn-default {
	background-color: #008cba;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 2px;
	outline: 2px solid #008cba;
	outline-offset: 2px;
	text-transform: uppercase;
}

.btn-our-products {
	background-color: #008cba;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 5px 7px;
	font-size: 1.5rem;
	letter-spacing: 2px;
	outline: 2px solid #008cba;
	outline-offset: 3px;
	text-transform: uppercase;
	display: flex;
	text-align: center;
	justify-content: center;
	margin: auto;
	margin-bottom: 35px;
	margin-top: 20px;
}

.btn-our-products:hover {
	background: #3071a9;
	transition: all 0.3s ease 0s;
}

.btn-default:hover {
	background: #3071a9;
	transition: all 0.3s ease 0s;
}

.services {
	background: cadetblue;
	display: flex;
	text-align: center;
	justify-content: center;
}

.service-icon {
	font-size: 66px;
}
.services div {
	padding: 30px;
	padding-left: 30px;
	padding-bottom: 50px;
	padding-top: 40px;
}
.services div > h6 {
	font-size: 1.8rem;
	padding-bottom: 1rem;
}

.services div > p {
	font-size: 1.2rem;
}

.therealdeal {
	justify-content: center;
	text-align: center;
	align-items: center;
	padding-bottom: 30px;
	padding-top: 25px;
	font-size: 1.5rem;
}
.featured-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	justify-content: center;
	text-align: center;
	grid-gap: 30px;
}

.product-img {
	width: 250px;
	height: 250px;
}

.product-descriptions {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.product-descriptions p {
	font-size: 1.5rem;
	padding-left: 10px;
	padding-right: 30px;
}

.product-item {
	width: 333px;
	height: 333px;
	margin: auto;
	padding-bottom: 10px;
	text-align: center;
	box-shadow: 3px 3px 8px #888888;
	justify-content: center;
	text-align: center;
}

.featured-items {
	padding-top: 25px;
}

.footer {
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	height: 66px;
	background: grey;
	padding-right: 15px;
}

.footer p {
	font-size: 1.2rem;
}
.contact-us {
	padding: 25px;
}

.form-spree {
	display: flex;
	flex-direction: column;

	text-align: center;
	margin: auto;
}

.form-spree input {
	width: 350px;
	height: 20px;
	padding: 5px;
}

.form-spree textarea {
	width: 350px;
	padding: 5px;
}

.form-spree button {
	width: 350px;
	margin: auto;
	padding: 5px;
}

.input {
	padding-bottom: 10px;
}
.btn-send {
	margin-bottom: 20px;
	padding-top: 5px;
}

.footer-icon {
	font-size: 24px;
}

.contact-us {
	font-size: 3rem;
	text-align: center;
	margin-right: 150px;
	margin-right: 0 40px;
}
